/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Nunito', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 1rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header .img-container img {
  width: 100%;
}
@media ( max-width: 500px )  {
  header .img-container img {
    height: 40rem;
  }
}
header .nav-title {
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
  position: absolute;
  top: 0.1rem;
  width: 100%;
}
@media ( max-width: 500px )  {
  header .nav-title {
    align-content: center;
    height: auto;
  }
}
header .nav-title h1 {
  padding: 5px 0;
  color: white;
  margin-left: 3rem;
}
@media ( max-width: 500px )  {
  header .nav-title h1 {
    font-size: 2.3rem;
    margin: 0 1rem;
    width: 46rem;
  }
}
header .nav-title .navigation {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  margin-top: 1%;
}
@media ( max-width: 500px )  {
  header .nav-title .navigation {
    margin: 2% 0 0 2%;
    width: 45rem;
  }
}
header .nav-title .navigation a {
  text-decoration: none;
  margin: 0 3rem;
  font-size: 2rem;
  color: white;
}
header .nav-title .navigation a:hover {
  color: #3fa551;
}
@media ( max-width: 500px )  {
  header .nav-title .navigation a {
    margin: 0 1rem 0 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
}
header .nav-title .login {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  margin-top: 1%;
}
header .nav-title .login a {
  text-decoration: none;
  margin: 0 3rem;
  font-size: 2rem;
  color: white;
}
header .nav-title .login a:hover {
  color: #58bf6b;
}
@media ( max-width: 500px )  {
  header .nav-title .login a {
    display: none;
  }
}
header .text-container {
  position: absolute;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-40%, 60%);
}
@media ( max-width: 500px )  {
  header .text-container {
    transform: translate(-48%, 125%);
    width: 25rem;
  }
}
header .text-container .plain {
  font-family: 'Nunito', sans-serif;
  font-size: 6rem;
}
@media ( max-width: 500px )  {
  header .text-container .plain {
    font-size: 3rem;
  }
}
header .text-container .bold {
  font-family: 'Nunito', sans-serif;
  font-size: 7.5rem;
  font-weight: bold;
}
@media ( max-width: 500px )  {
  header .text-container .bold {
    font-size: 3.5rem;
  }
}
header .nav-title-about {
  display: flex;
  justify-content: space-between;
  background-color: rgba(35, 91, 45, 0.8);
  text-align: center;
  width: 100%;
}
@media ( max-width: 500px )  {
  header .nav-title-about {
    align-content: center;
  }
}
header .nav-title-about h1 {
  padding: 0.5rem 0;
  color: white;
  margin-left: 3rem;
}
@media ( max-width: 500px )  {
  header .nav-title-about h1 {
    font-size: 2.5rem;
    margin: 0 4%;
  }
}
header .nav-title-about .navigation {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  margin-top: 1%;
}
@media ( max-width: 500px )  {
  header .nav-title-about .navigation {
    margin: 2% 0 0 5%;
    width: 40%;
  }
}
header .nav-title-about .navigation a {
  text-decoration: none;
  margin: 0 3rem;
  font-size: 2rem;
  color: white;
}
header .nav-title-about .navigation a:hover {
  color: #3fa551;
}
@media ( max-width: 500px )  {
  header .nav-title-about .navigation a {
    margin: 0 4%;
    text-align: center;
    font-size: 1.6rem;
  }
}
header .nav-title-about .login {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  margin-top: 1%;
}
header .nav-title-about .login a {
  text-decoration: none;
  margin: 0 3rem;
  font-size: 2rem;
  color: white;
}
header .nav-title-about .login a:hover {
  color: #58bf6b;
}
@media ( max-width: 500px )  {
  header .nav-title-about .login a {
    display: none;
  }
}
body .content-section .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 5rem;
  font-size: 2.4rem;
  font-family: 'Nunito', sans-serif;
  margin: 1% 20% 0 37%;
  width: 30%;
}
@media ( max-width: 500px )  {
  body .content-section .content {
    margin: 9% 0rem 0 3rem;
    width: 90%;
    display: block;
  }
}
body .content-section .content p {
  margin-top: 3%;
}
body .btn {
  text-align: center;
  padding: 2rem 0 0 0;
}
@media ( max-width: 500px )  {
  body .btn {
    text-align: center;
    padding: 2rem 0 0 0;
  }
}
body .btn button {
  background-color: #235B2D;
  text-decoration: none;
  padding: 1rem 7rem;
  border-radius: 1rem;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 2rem;
}
@media ( max-width: 500px )  {
  body .btn button {
    width: 70%;
    padding: 1rem 6rem;
  }
}
body .btn button:hover {
  background-color: #2a6d36;
}
body .btn-mobile {
  display: none;
}
@media ( max-width: 500px )  {
  body .btn-mobile {
    display: block;
    text-align: center;
    padding: 2rem 0 0 0;
  }
}
body .btn-mobile button {
  background-color: white;
  text-decoration: none;
  padding: 1rem 7rem;
  border-radius: 1rem;
  color: black;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 2rem;
}
@media ( max-width: 500px )  {
  body .btn-mobile button {
    width: 70%;
    padding: 1rem 7rem;
  }
}
body .btn-mobile button:hover {
  background-color: #2a6d36;
}
body .teamContainer .title {
  text-align: center;
  margin: 2% 5% 0 5%;
  border: 2px solid black;
  padding: 1% 0;
  font-family: 'Nunito', sans-serif;
  border-radius: 1rem;
  background-color: rgba(45, 100, 118, 0.6);
}
@media ( max-width: 500px )  {
  body .teamContainer .title {
    margin: 3% 5% 0 5%;
  }
}
body .teamContainer .title h2 {
  color: white;
}
@media ( max-width: 500px )  {
  body .teamContainer .title h2 {
    font-size: 2rem;
    margin-top: 2%;
  }
}
body .teamContainer .marketing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2% 5%;
  background-color: rgba(35, 91, 45, 0.2);
  border-radius: 0.5rem;
}
@media ( max-width: 500px )  {
  body .teamContainer .marketing {
    font-size: 1.6rem;
  }
}
body .teamContainer .marketing .person {
  border: 0.2rem solid black;
  margin: 2%;
  text-align: center;
}
body .teamContainer .marketing .person img {
  width: 40rem;
}
@media ( max-width: 500px )  {
  body .teamContainer .marketing .person img {
    width: 20rem;
    height: auto;
  }
}
body .teamContainer .marketing .person .text-container {
  margin: 1rem 0;
}
body .teamContainer .marketing .person .text-container h3 {
  font-size: 2rem;
}
@media ( max-width: 500px )  {
  body .teamContainer .marketing .person .text-container h3 {
    font-size: 1.6rem;
  }
}
body .teamContainer .marketing .person .text-container h4 {
  font-size: 1.6rem;
  margin: 1rem 0 0 0;
}
@media ( max-width: 500px )  {
  body .teamContainer .marketing .person .text-container h4 {
    font-size: 1.3rem;
  }
}
body .teamContainer .frontEnd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2% 5%;
  background-color: rgba(35, 91, 45, 0.2);
  border-radius: 0.5rem;
}
@media ( max-width: 500px )  {
  body .teamContainer .frontEnd {
    font-size: 1.6rem;
  }
}
body .teamContainer .frontEnd .person {
  border: 0.2rem solid black;
  margin: 2%;
  text-align: center;
}
body .teamContainer .frontEnd .person img {
  width: 400px;
}
@media ( max-width: 500px )  {
  body .teamContainer .frontEnd .person img {
    width: 200px;
    height: auto;
  }
}
body .teamContainer .frontEnd .person .text-container {
  margin: 1rem 0;
}
body .teamContainer .frontEnd .person .text-container h3 {
  font-size: 2rem;
}
@media ( max-width: 500px )  {
  body .teamContainer .frontEnd .person .text-container h3 {
    font-size: 1.6rem;
  }
}
body .teamContainer .frontEnd .person .text-container h4 {
  font-size: 1.6rem;
  margin: 1rem 0 0 0;
}
@media ( max-width: 500px )  {
  body .teamContainer .frontEnd .person .text-container h4 {
    font-size: 1.3rem;
  }
}
body .teamContainer .backend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2% 5%;
  background-color: rgba(35, 91, 45, 0.2);
  border-radius: 0.5rem;
}
@media ( max-width: 500px )  {
  body .teamContainer .backend {
    font-size: 1.6rem;
  }
}
body .teamContainer .backend .person {
  border: 0.2rem solid black;
  margin: 2%;
  text-align: center;
}
body .teamContainer .backend .person img {
  width: 400px;
}
@media ( max-width: 500px )  {
  body .teamContainer .backend .person img {
    width: 200px;
    height: auto;
  }
}
body .teamContainer .backend .person .text-container {
  margin: 1rem 0;
}
body .teamContainer .backend .person .text-container h3 {
  font-size: 2rem;
}
@media ( max-width: 500px )  {
  body .teamContainer .backend .person .text-container h3 {
    font-size: 1.6rem;
  }
}
body .teamContainer .backend .person .text-container h4 {
  font-size: 1.6rem;
  margin: 1rem 0 0 0;
}
@media ( max-width: 500px )  {
  body .teamContainer .backend .person .text-container h4 {
    font-size: 1.3rem;
  }
}
body .teamContainer .iOS {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2% 5%;
  background-color: rgba(35, 91, 45, 0.2);
  border-radius: 0.5rem;
}
@media ( max-width: 500px )  {
  body .teamContainer .iOS {
    font-size: 1.6rem;
  }
}
body .teamContainer .iOS .person {
  border: 0.2rem solid black;
  margin: 2%;
  text-align: center;
}
body .teamContainer .iOS .person img {
  width: 400px;
}
@media ( max-width: 500px )  {
  body .teamContainer .iOS .person img {
    width: 200px;
    height: auto;
  }
}
body .teamContainer .iOS .person .text-container {
  margin: 1rem 0;
}
body .teamContainer .iOS .person .text-container h3 {
  font-size: 2rem;
}
@media ( max-width: 500px )  {
  body .teamContainer .iOS .person .text-container h3 {
    font-size: 1.6rem;
  }
}
body .teamContainer .iOS .person .text-container h4 {
  font-size: 1.6rem;
  margin: 1rem 0 0 0;
}
@media ( max-width: 500px )  {
  body .teamContainer .iOS .person .text-container h4 {
    font-size: 1.3rem;
  }
}
body .teamContainer .pm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2% 5%;
  background-color: rgba(35, 91, 45, 0.2);
  border-radius: 0.5rem;
}
@media ( max-width: 500px )  {
  body .teamContainer .pm {
    font-size: 1.6rem;
  }
}
body .teamContainer .pm .person {
  border: 0.2rem solid black;
  margin: 2%;
  text-align: center;
}
body .teamContainer .pm .person img {
  width: 400px;
}
@media ( max-width: 500px )  {
  body .teamContainer .pm .person img {
    width: 200px;
    height: auto;
  }
}
body .teamContainer .pm .person .text-container {
  margin: 1rem 0;
}
body .teamContainer .pm .person .text-container h3 {
  font-size: 2rem;
}
@media ( max-width: 500px )  {
  body .teamContainer .pm .person .text-container h3 {
    font-size: 1.6rem;
  }
}
body .teamContainer .pm .person .text-container h4 {
  font-size: 1.6rem;
  margin: 1rem 0 0 0;
}
@media ( max-width: 500px )  {
  body .teamContainer .pm .person .text-container h4 {
    font-size: 1.3rem;
  }
}
