@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
  background: url('./assets/dashBackground.png');
  background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

.fixed-nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 55px;
  background-color: #235B2D;
  color: #FFFFFF;
  box-sizing: border-box;
}

.left-nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
  width: 100%;
}


.left-nav p {
  margin: 0;
  margin-left: 2%;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  
}

.left-nav a {
  margin: 0 3%;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  align-items: end;
  
}

.left-nav button {
  margin: 0 3%;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  align-items: end;
  background: none;
  border: none;
  cursor: pointer;
}

.userIcon {
  margin-right: 2%;
  margin-top: 0.5%;
}


h2 {
  margin-top: 5%;
}

.dashboardComponents {
  display: flex;
  flex-wrap: nowrap;
}


.newPlant {
  background: #F2F3F2;
  padding: 3%;
}

.userCard {
  background: #F2F3F2;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.userCard img {
  width: 30%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.userCard form button {
  display: inline-block;
}

.plantList {
  background: none;
  display: flex;
  flex-wrap: nowrap;
  width: 30%;
  padding: 5%;
}

.displayedPlant {
  border: 2px solid green;
  margin: 5%;
  background: white;
  box-shadow: 3px 3px 5px 6px rgb(92, 90, 90);
}
