@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
  background: url('./assets/dashBackground.png');
  background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

.fixed-nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 55px;
  background-color: #235B2D;
  color: #FFFFFF;
  box-sizing: border-box;
}

.left-nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
  width: 100%;
}


.left-nav p {
  margin: 0;
  margin-left: 2%;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  
}

.left-nav a {
  margin: 0 3%;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  align-items: end;
  
}

.left-nav button {
  margin: 0 3%;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  align-items: end;
  background: none;
  border: none;
  cursor: pointer;
}

.userIcon {
  margin-right: 2%;
  margin-top: 0.5%;
}


h2 {
  margin-top: 5%;
}

.dashboardComponents {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
}


.newPlant {
  background: #235B2D;
  padding: 2%;
  position: fixed;
  right: 0px;
  top: 120px;
  color: #8de450;
  text-align: left;
}

.newPlant h4 {
  font-size: 3rem;
  margin: 0;
}

.newPlant p {
  font-weight: 700;
  margin-bottom: 1%;
  font-size: 1.5rem;
}

.newPlant input {
  margin-bottom: 0;
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
}

.newPlant button {
  margin-top: 10%;
  width: 50%;
  padding: 3%;
  color: #23515b;
  font-weight: 700;
  font-size: 2rem;
  background: #8de450;
  border: none;
  border-radius: 15px;
}

#plantJourney {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 3%;
  text-align: left;
  color: white;
  font-weight: 400;
}


.newPlant form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.userCard {
  background: #F2F3F2;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.userCard img {
  width: 30%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.userCard form button {
  display: inline-block;
}

.plantList {
  background: none;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.displayedPlant {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  margin: 5%;
  padding: 3%;
  background: #23515b;
  color: white;
  border-radius: 15px;
  overflow: hidden;
}

.displayedPlant h2 {
  font-size: 2rem;
  margin: 4%;
}

.displayedPlant h3 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 2%;
}

.displayedPlant span {
  color: #8de450;
}
