body{

    background-color: #2D6476;
    
    .teamContainer{
        border: 1px solid red;

        .title{
            text-align: center;
            //display: flex;
            margin: 5% 0 0 0;
            border: 2px solid black;
            padding: 2% 0;
            font-family:'Nunito', sans-serif;
            border-radius: 1rem;

            p{
                font-size: 2rem;
                color: @teaGreen;
            }
        }

        .marketing{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 2% 5%;  

            .person{
                border: 1px solid seagreen;
                margin: 2%;
                text-align: center;
            }
        }

        .frontEnd{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 5%;  

            .person{
                border: 1px solid seagreen;
                margin: 2%;
                text-align: center;
            }
        }

        .backend{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 5%;  

            .person{
                border: 1px solid seagreen;
                margin: 2%;
                text-align: center;
            }
        }

        .iOS{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 5%;  

            .person{
                border: 1px solid seagreen;
                margin: 2%;
                text-align: center;
            }
        }

        
        .pm{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 5%;  

            .person{
                border: 1px solid seagreen;
                margin: 2%;
                text-align: center;
            }
        }
    }
}//body