body{
    
    .teamContainer{

        .about-title-style();

        .marketing{
            .teams-style();

            .person{
                .person-style();
                

                img{
                    .person-img-style();
                }
                .text-container{
                    margin: 1rem 0;

                    h3{
                        font-size: 2rem;
                    }
    
                    h4{
                        font-size: 1.6rem;
                    }  
                }
            }
        }

        .frontEnd{
            .teams-style(@bg-color: fade(@everglade,20%), @margin-lr:2% 5%);

            .person{
                border: 2px solid black;
                margin: 2%;
                text-align: center;

                img{
                    width: 400px;

                    @media @mobile {
                        width: 200px;
                        height: auto;
                    }
                }
                .text-container{
                    margin: 1rem 0;

                    h3{
                        font-size: 2rem;
                    }
    
                    h4{
                        font-size: 1.6rem;
                    }  
                }
            }
        }

        .backend{
            .teams-style(@bg-color: fade(@everglade,20%), @margin-lr:2% 5%);

            .person{
                border: 2px solid black;
                margin: 2%;
                text-align: center;

                img{
                    width: 400px;

                    @media @mobile {
                        width: 200px;
                        height: auto;
                    }
                }
                .text-container{
                    margin: 1rem 0;

                    h3{
                        font-size: 2rem;
                    }
    
                    h4{
                        font-size: 1.6rem;
                    }  
                }
            }
        }

        .iOS{
            .teams-style(@bg-color: fade(@everglade,20%), @margin-lr:2% 5%);

            .person{
                border: 2px solid black;
                margin: 2%;
                text-align: center;

                img{
                    width: 400px;

                    @media @mobile {
                        width: 200px;
                        height: auto;
                    }
                }
                .text-container{
                    margin: 1rem 0;

                    h3{
                        font-size: 2rem;
                    }
    
                    h4{
                        font-size: 1.6rem;
                    }  
                }
            }
        }

        
        .pm{
            .teams-style(@bg-color: fade(@everglade,20%), @margin-lr:2% 5%);

            .person{
                border: 2px solid black;
                margin: 2%;
                text-align: center;

                img{
                    width: 400px;

                    @media @mobile {
                        width: 200px;
                        height: auto;
                    }
                }
                .text-container{
                    margin: 1rem 0;

                    h3{
                        font-size: 2rem;
                    }
    
                    h4{
                        font-size: 1.6rem;
                    }  
                }
            }
        }
    }
}//body