body{
    .content-section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        //text-align: center;
        margin-top: 5rem;
        font-size: 2.4rem;
        font-family: 'Nunito', sans-serif;
        //width: 50%;
        //margin-left: 20%;
        margin: 1% 20% 0 37%;
        border: 1px solid blue;
        width: 30%;

        p{
            margin-top: 3%;
        }
    }

    .btn{
        text-align: center;
        padding-top: 2rem;
        button{
            background-color: #235B2d;
            text-decoration: none;
            padding: 1rem 7rem;
            border-radius: 1rem;
            color: white;
            font-size: 1.8rem;

            &:hover {
                color: lighten(#235B2D, 20%);
            }
        }
    }

}//body