body{
    .content-section{
        // display: flex;
        // flex-direction: column;
        // flex-wrap: wrap;
        // //text-align: center;
        // margin-top: 5rem;
        // font-size: 2.4rem;
        // font-family: 'Nunito', sans-serif;
        // //width: 50%;
        // //margin-left: 20%;
        // margin: 1% 20% 0 37%;
        // border: 1px solid blue;
        // width: 30%;
        .img-container2{
            
            img{
                width: 100%;
                height: 80rem;
            }
        }

        .content{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 5rem;
            font-size: 2.4rem;
            font-family: 'Nunito', sans-serif;
            margin: 1% 20% 0 37%;
            border: 1px solid blue;
            width: 30%;  
            //position: absolute;
           // top: 800px;

           @media @mobile{
            margin: 5% 5% 0 15%;
            width: 70%;
            }
            

            p{
                margin-top: 3%;
            }  
        }
    }

    .btn{
        text-align: center;
        padding-top: 2rem;
        button{
            background-color: #235B2d;
            text-decoration: none;
            padding: 1rem 7rem;
            border-radius: 1rem;
            color: white;
            font-size: 1.8rem;

            &:hover {
                background-color: lighten(#235B2D, 5%);
            }
        }
    }

    .btn-mobile{
        display: none;

        @media @mobile {
            display: block;
            text-align: center;
            padding-top: 2rem;
            
            button{
                background-color: #C9CFCA;
                text-decoration: none;
                padding: 1rem 7rem;
                border-radius: 1rem;
                color: #235B2d;
                font-size: 1.8rem;
    
                &:hover {
                    background-color: lighten(#235B2D, 5%);
                }
            }
        }
        
    }

}//body