header {
    
    .nav-title{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border: 1px solid red;
        //background-color: fade(#C9CFCA,20%);
        background-color: fade(#C9CFCA,40%);

        h1{
            padding: 5px 0;
        }//ends h1

        .navigation{
            font-family: 'Nunito', sans-serif;

            a{
                text-decoration: none; 
                margin: 0 50px;
                font-size: 2rem;
                color: black;
                
            }
        }//end navigation

        .login{
            font-family: 'Nunito', sans-serif;


            a{
                text-decoration: none;
                margin: 0 50px;
                font-size: 2rem;
                color: black;
            }
        }//ends login
    }// ends nav-title

    .img-container{
        
        img{
            width: 100%;
        }
    }//ends img
}// ends header